.category {
  font-size: 1.6rem;
  background-image: linear-gradient(to bottom, var(--color1), var(--color2), var(--color3));
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.left {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  max-width: 600px;
  margin: 1rem;
}

.btn {
  font-size: 2rem;
  margin: 1rem;
  width: 30vw;
  min-width: 200px;
  height: 50px;
  border-radius: 0.5rem;
  border-color: transparent;
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(255, 0, 0, 0.5);;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.thumbnail {
  flex: 1;
  position: relative;
}

.thumbnail:first-child {
  left: 15vw;
}

.thumbnail:nth-child(2) {
  z-index: 1;
  bottom: 10px;
}

.thumbnail:last-child {
  right: 15vw;
}

.thumbnail:hover {
  z-index: 2;
}

@media screen and (min-width: 600px) {
  .category {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 900px) {
  .category {
    flex-direction: row;
  }
  
  .thumbnail:first-child {
    left: 8vw;
  }
  
  .thumbnail:last-child {
    right: 8vw;
  }
}