.bookCover {
  position: relative;
  width: fit-content;
  margin: 1rem;
  min-width: 10%;
}

.bookCover:hover {
  cursor: pointer;
}

.container {
  position: relative;
  transition: all 0.5s;
  max-width: 170px;
  max-height: 250px;
}

.bookCover:hover .container {
  transform: translateY(-1rem);
}

.imgCover {
  aspect-ratio: 170 / 250;   
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.5);
}

.icon {
  position: absolute;
  max-width: 32px;
  width: 20%;
  top: -0.5rem;
}

.bestSeller {
  left: -0.5rem;
}

.newArrived {
  right: -0.5rem;
}

.title,
.author {
  max-width: 170px;
  text-align: center;
  padding-top: 1rem;
  margin: 0;
  font-size: 1.6rem;
}

.bookCover:hover .title {
  text-decoration: underline;
}

.author {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  height: 3.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}